.currentCity {
    padding: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    color: #fff;
    max-width: 300px;
}

.locationContainer {
    min-height: 76px;
}
.myLocation {
    margin-bottom: 8px;
    font-family: "Inter Bold";
    font-size: 16px;
    line-height: 120%;
}

.location {
    position: relative;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 120%;
    color: #fff;
    text-decoration: none;
    z-index: 1;
    cursor: pointer;
}

.weatherContainer {
    text-align: center;
}

.currentTemp {
    margin-bottom: 5px;
    font-family: "Inter Bold";
    font-size: 24px;
    line-height: 120%;
}

.lowHighTemp {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
}

.weatherIcon {
    margin: -16px 0 -10px;
    max-width: 70px;
}

.like {
    position: absolute;
    bottom: 10px;
    left: 20px;
    cursor: pointer;

    &> svg {
        width: 26px;
        height: 26px;
        color: transparent;
    }

    &.liked {
        &> svg {
            color: #F76D57;
        }
    }
}

.time {
    margin-top: 4px;
}

.smallCard {
    margin-top: 50px;
    max-width: 220px;
    min-width: 220px;
    position: relative;

    img {
        position: absolute;
        left: 0;
        top: -26px;
    }
}