.form {
    margin-bottom: 24px;
    padding: 10.5px 16px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    border: 1px solid #E9E9EA;
    border-radius: 24px;

    @media screen and (max-width: 567px) {
        max-width: 246px; 
    }
}

.button {
    margin-right: 8px;
    padding: 0;
    width: 20px;
    height: 20px;
    border: none;
    background: transparent;
    cursor: pointer;

    &> svg {
        color: #F4F4F4;
        max-width: 100%;
        max-height: 100%;
    }
}
.input {
    outline: none;
    border: none;
    width: 100%;
    font-size: 16px;
    color: #F4F4F4;
    background-color: transparent;

    &::placeholder {
        color: #F4F4F4;
        opacity: 1; /* Firefox */
    }
}

.savedLocationsContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 30px;
    flex-wrap: wrap;
    // overflow-x: auto;
    
    &::-webkit-scrollbar { /* Safari, Chrome */
        display: none;
    }
}

.locationsList {
    padding: 30px 0;
}
.locationsTitle {
    font-family: "Inter Bold";
    color: #fff;
    font-size: 18px;

    & + p {
        padding: 10px 0;
        color: #fff;
        font-size: 14px;
        font-style: italic;
    }
}

.seelctedLocation {
    animation: cardFadeIn .6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

@mixin order($selector) {
  @for $i from 0 to 10 {
    &.savedCard#{$i} {
        animation: cardFadeIn $i * 0.3s ease-in-out;
    }
  }
}

.savedCard {
    @include order('.savedCard');
}

@keyframes cardFadeIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}