.header {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -1px 16px 3px #bcbcbc;
}

.city {
    font-size: 20px;
    text-transform: capitalize;
}

.menuBtn {
    z-index: 2;
}

.modalMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.8);

    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-3000px);
    transition: all linear .8s;

    &.menuOpened {
        transform: translateX(0);
    }
}

.menuList {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}