.header {
    padding: 30px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.city {
    font-size: 24px;
    font-family: "Inter ExtraBold";
    text-transform: capitalize;
    color: #FFF;
}

.menuBtn {
    z-index: 12;
}

.modalMenu {
    position: fixed;
    top: 0;
    right: -400px;
    height: 100vh;
    width: 400px;
    transition: all .8s cubic-bezier(.8, 0, .33, 1);
    border-radius: 0% 0% 50% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    
    @media screen and (max-width: 567px) {
        width: 320px;
        right: -320px;
    }

    &.menuOpened {
        right: 0;
        border-radius: 0% 0% 0% 0%;
        background: rgba(255, 255, 255, 0.8);
    }

}

.menuList {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.menuBtn {
    cursor: pointer;
    z-index: 11;
}

.line {
    padding: 0;
    width: 30px;
    background: #fff;
    height: 2px;
    margin: 5px 0;
    transition: all 700ms cubic-bezier(.9, 0, .33, 1);

    &.line1 {
        width: 30px;
        transform: rotate(0) translateY(0);

        &.lineCross {
            width: 30px;
            transform: rotate(45deg) translateY(10px);
            background: #A0A7BA;
        }
    }

    &.line2 {
        width: 26px;
        transform: translateX(4px);

        &.lineFadeOut {
            width: 28px;
            transform: translate(30px);
            opacity: 0;
        }
    }

    &.line3 {
        width: 20px;
        transform: rotate(0) translateY(0) translateX(10px);

        &.lineCross {
            width: 30px;
            transform: rotate(-45deg) translateY(-10px);
            background: #A0A7BA;
        }
    }
}

.link {
    margin: 20px 0;
    text-decoration: none;
    font-family: "Inter Bold";
    color: rgba(0,0,0,0.9);
    font-weight: 700;
    text-transform: uppercase;
}