.sunContainer {
    max-width: 420px;
}

.sunArea {
    height: 150px;
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        display: block;
        width: 390px;
        height: 430px;
        border-radius: 50%;
        border-top: 1px solid #FFF;
        position: absolute;
        bottom: -323px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.sun {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: yellow;
    background: linear-gradient(29.69deg, #FF9900 29.91%, rgb(255, 238, 148) 90.8%);
    box-shadow: 0px 0 38px rgba(255, 238, 148, 0.81);
    border-radius: 50%;
    animation: sunrise 2s ease;
    position: absolute;
    left: 66%;
    top: 35px;
    transform: translateX(-50%);
}

@keyframes sunrise {
    0% { top: 100%; }
    100% { top: 35px; }
}

.sunTimeContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sunInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-size: 14px;
    line-height: 120%;

    span {
        &> svg {
            color: #fff;
            width: 40px;
            height: 40px;
        }
    }
}